In [ ]:
# sunglasses

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kushagra gemini\newanaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kushagra gemini\newanaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import  selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com/")

In [7]:
search_g= driver.find_element(By.XPATH,'//input[@class="Pke_EE"]')
search_g

In [8]:
search_g.send_keys('sunglasses')

In [11]:
search_btn=driver.find_element(By.CLASS_NAME,'_2iLD__')
search_btn.click()

In [12]:
Br_name=[]
Price=[]
P_desc=[]

In [15]:
for i in range(3):
    br_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    
    for x  in br_name:
        Br_name.append(j.text)
    Br_name[:100]    
    
    
    
    for y in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for z in price:
        Price.append(l.text)
    Price[:100]

In [29]:
B_name[:100]

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'STACTOR',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'Singco India',
 'VINCENT CHASE',
 'Fastrack',
 'Sunglassess',
 'Fastrack',
 'ROADWAY',
 'ROYAL SON',
 'ROYAL SON',
 '90stethix',
 'Fastrack',
 'VINCENT CHASE',
 'Eyewearlabs',
 'Fastrack',
 'GANSTA',
 'Fastrack',
 'eyedens',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Singco India',
 'Rich Club',
 'Syn Traders',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Eyewearlabs',
 'PIRASO',
 'Eyewearlabs',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'STACTOR',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'Singco India',
 'VINCENT CHASE',
 'Fastrack',
 'Sunglassess',
 'Fastrack',
 'ROADWAY',
 'ROYAL SON',
 'ROYAL SON',
 '90stethix',
 'Fastrack',
 'VINCENT CHASE',
 'Eyewearlabs',
 'Fastrack',
 'GANSTA',
 'Fastrack',
 'eyedens',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Singco India',
 'Rich Club',
 'Syn Traders',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Eyewearlabs',
 'PIRASO',
 'Eyewearlabs',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'STACTOR',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'Singco India',
 'VINCENT CHASE',
 'Fastrack',
 'Sunglassess',
 'Fastrack',
 'ROADWAY',
 'ROYAL SON',
 'ROYAL SON',
 '90stethix',
 'Fastrack']

In [17]:
print(len(Br_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [21]:
sun_gls=pd.DataFrame({})
sun_gls['Brand_name']=B_name[:100]
sun_gls['P_price']=Price[:100]
sun_gls['Pr_desc']=P_desc[:100]

In [22]:
sun_gls

       Brand_name P_price                                            Pr_desc
0   VINCENT CHASE    ₹549             UV Protection Wayfarer Sunglasses (59)
1   VINCENT CHASE    ₹949  by Lenskart Polarized, UV Protection Rectangul...
2        Fastrack    ₹499   UV Protection Rectangular Sunglasses (Free Size)
3        Fastrack    ₹799              UV Protection Aviator Sunglasses (58)
4        Fastrack    ₹549  Gradient, UV Protection Wayfarer Sunglasses (F...
..            ...     ...                                                ...
95        ROADWAY    ₹264  by Lenskart Polarized, UV Protection Round Sun...
96      ROYAL SON    ₹490  UV Protection Retro Square Sunglasses (Free Size)
97      ROYAL SON    ₹379  Gradient, UV Protection Wayfarer Sunglasses (F...
98      90stethix    ₹299              Polarized Rectangular Sunglasses (60)
99       Fastrack    ₹599  Polarized, Riding Glasses Sports, Wrap-around ...

[100 rows x 3 columns]

In [ ]:
# iphone

In [2]:
import  selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [5]:
Rating=[]
Re_sum=[]
Fl_sum=[]

In [6]:
for i in range(3):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    r_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    f_sum=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    
    
    for r in rating:
        Rating.append(r.text)
    Rating[:100]    
    
    
    
    for s in r_sum:
        Re_sum.append(s.text)
    Re_sum[:100] 
    
    
    for f in f_sum:
        Fl_sum.append(f.text)
    Fl_sum[:100]

In [7]:
Rating[:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [14]:
Re_sum[:100]

['Best in the market!',
 'Wonderful',
 'Worth every penny',
 'Must buy!',
 'Classy product',
 'Terrific',
 'Fabulous!',
 'Just wow!',
 'Classy product',
 'Must buy!',
 'Best in the market!',
 'Wonderful',
 'Worth every penny',
 'Must buy!',
 'Classy product',
 'Terrific',
 'Fabulous!',
 'Just wow!',
 'Classy product',
 'Must buy!',
 'Best in the market!',
 'Wonderful',
 'Worth every penny',
 'Must buy!',
 'Classy product',
 'Terrific',
 'Fabulous!',
 'Just wow!',
 'Classy product',
 'Must buy!']

In [15]:
Fl_sum[:100]

['Good Camera',
 'This is amazing at all',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Super🔥 and good performance 👌❤️',
 'Perfect Product!!',
 'Photos super',
 'It’s really awesome',
 'Good Camera',
 'This is amazing at all',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Super🔥 and good performance 👌❤️',
 'Perfect Product!!',
 'Photos super',
 'It’s really awesome',
 'Good Camera',
 'This is amazing at all',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Super🔥 and good performance 👌❤️',
 'Perfect Product!!',
 'Photos super',
 'It’s really awesome']

In [16]:
print(len(Rating[:100])),print(len(Re_sum[:100])),print(len(Fl_sum[:100]))

30
30
30

(None, None, None)

In [22]:
ip=pd.DataFrame({})
ip['Rating']=Rating[:100]
ip['Re_sum']=Re_sum[:100]
ip['Fl_sum']=Fl_sum[:100]

In [23]:
ip

,Rating,Re_sum,Fl_sum
0,5,Best in the market!,Good Camera
1,5,Wonderful,This is amazing at all
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
4,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
5,5,Terrific,Very very good
6,5,Fabulous!,Super🔥 and good performance 👌❤️
7,5,Just wow!,Perfect Product!!
8,5,Classy product,Photos super
9,5,Must buy!,It’s really awesome
10,5,Best in the market!,Good Camera
11,5,Wonderful,This is amazing at all
12,5,Worth every penny,Feeling awesome after getting the delivery of ...
13,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
14,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
15,5,Terrific,Very very good
16,5,Fabulous!,Super🔥 and good performance 👌❤️
17,5,Just wow!,Perfect Product!!
18,5,Classy product,Photos super
19,5,Must buy!,It’s really awesome
20,5,Best in the market!,Good Camera
21,5,Wonderful,This is amazing at all
22,5,Worth every penny,Feeling awesome after getting the delivery of ...
23,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
24,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
25,5,Terrific,Very very good
26,5,Fabulous!,Super🔥 and good performance 👌❤️
27,5,Just wow!,Perfect Product!!
28,5,Classy product,Photos super
29,5,Must buy!,It’s really awesome

In [ ]:
# sneakers

In [24]:
import  selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [25]:
driver = webdriver.Chrome()

In [26]:
driver.get("https://www.flipkart.com/")

In [27]:
search_g= driver.find_element(By.XPATH,'//input[@class="Pke_EE"]')
search_g

In [37]:
search_g.send_keys('sneakers')

In [44]:
search_btn=driver.find_element(By.CLASS_NAME,'_2iLD__')
search_btn.click()

In [45]:
Brd_name=[]
Pd_desc=[]
Price=[]

In [46]:
for i in range(3):
    brnd_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    prd_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    
    for b  in brnd_name:
        Brd_name.append(b.text)
    Brd_name[:100]    
    
    
    
    for d in prd_desc:
        Pd_desc.append(d.text)
    Pd_desc[:100] 
    
    
    for p in price:
        Price.append(p.text)
    Price[:100]

In [47]:
Brd_name[:100]

['HOTSTYLE',
 'aadi',
 'asian',
 'asian',
 'U.S. POLO ASSN.',
 'kardam&sons',
 'BIZDOM',
 'RapidBox',
 'PUMA',
 'kardam&sons',
 'Kraasa',
 'ATOM',
 'kardam&sons',
 'Vellinto',
 'ADIDAS',
 'asian',
 'ATOM',
 'aadi',
 'BIZDOM',
 'JACK & JONES',
 'ATOM',
 'ATOM',
 'HRX by Hrithik Roshan',
 'RED TAPE',
 'ATOM',
 'Arivo',
 'aadi',
 'LIBERTY',
 'asian',
 'JACK & JONES',
 'aadi',
 'Bucik',
 'asian',
 'DUCATI',
 'BIZDOM',
 'RED TAPE',
 'aadi',
 'LIBERTY',
 'asian',
 'Airson',
 'HOTSTYLE',
 'aadi',
 'asian',
 'asian',
 'U.S. POLO ASSN.',
 'kardam&sons',
 'BIZDOM',
 'RapidBox',
 'PUMA',
 'kardam&sons',
 'Kraasa',
 'ATOM',
 'kardam&sons',
 'Vellinto',
 'ADIDAS',
 'asian',
 'ATOM',
 'aadi',
 'BIZDOM',
 'JACK & JONES',
 'ATOM',
 'ATOM',
 'HRX by Hrithik Roshan',
 'RED TAPE',
 'ATOM',
 'Arivo',
 'aadi',
 'LIBERTY',
 'asian',
 'JACK & JONES',
 'aadi',
 'Bucik',
 'asian',
 'DUCATI',
 'BIZDOM',
 'RED TAPE',
 'aadi',
 'LIBERTY',
 'asian',
 'Airson',
 'HOTSTYLE',
 'aadi',
 'asian',
 'asian',
 'U.S. POLO ASSN.',
 'kardam&sons',
 'BIZDOM',
 'RapidBox',
 'PUMA',
 'kardam&sons',
 'Kraasa',
 'ATOM',
 'kardam&sons',
 'Vellinto',
 'ADIDAS',
 'asian',
 'ATOM',
 'aadi',
 'BIZDOM',
 'JACK & JONES']

In [48]:
print(len(Brd_name[:100])),print(len(Pd_desc[:100])),print(len(Price[:100]))

100
100
100

(None, None, None)

In [49]:
sn=pd.DataFrame({})
sn['Brand_name']=Brd_name[:100]
sn['Product_Description']=Pd_desc[:100]
sn['Price']=Price[:100]

In [50]:
sn

         Brand_name                                Product_Description   Price
0          HOTSTYLE                                   Sneakers For Men    ₹398
1              aadi  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹398
2             asian                                   Sneakers For Men    ₹822
3             asian                                   Sneakers For Men    ₹622
4   U.S. POLO ASSN.                           CLARKIN Sneakers For Men  ₹1,558
..              ...                                                ...     ...
95            asian  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹622
96             ATOM                        FLURIAS-1E Sneakers For Men  ₹1,585
97             aadi  Skypee-32 Grey Highneck Canvas,Loafers,Walking...    ₹279
98           BIZDOM                                   Sneakers For Men    ₹499
99     JACK & JONES  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹749

[100 rows x 3 columns]